@font-face {
    font-family: 'Museo Moderno';
    src: local('Museo Moderno Bold'), local('Museo-Moderno-Bold'),
        url('MuseoModerno-Bold.woff2') format('woff2'),
        url('MuseoModerno-Bold.woff') format('woff'),
        url('MuseoModerno-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'Museo Moderno';
    src: local('Museo Moderno Regular'), local('Museo-Moderno-Regular'),
        url('MuseoModerno-Regular.woff2') format('woff2'),
        url('MuseoModerno-Regular.woff') format('woff'),
        url('MuseoModerno-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Museo Sans';
    src: local('Museo Sans 300'), local('Museo-Sans-300'),
        url('MuseoSansCyrl-300.woff2') format('woff2'),
        url('MuseoSansCyrl-300.woff') format('woff'),
        url('MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans';
    src: local('Museo Sans 100'), local('Museo-Sans-100'),
        url('MuseoSansCyrl-100.woff2') format('woff2'),
        url('MuseoSansCyrl-100.woff') format('woff'),
        url('MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}